*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/cadastro-bg.jpg);
}

.content{
    background-color: #fff;
    border-radius: 15px; 
    width: 80%;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before{
    content: "";
    position: absolute;
    background-image: linear-gradient(#262da2, #4731b1, #6234bf, #7a37ca);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    

}

.titulo{
    font-size: 28px;
    font-weight: bold;
}

.titulo-branco{
    color: #fff;
}

.titulo-colorido{
    color: #4731b1;

}

.description{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}

.description-colorido{
    color: #4731b1
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 40px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-branco{
    background: transparent;
    border: 1px solid #fff;
    transition: 1s;
}

.btn-colorido{
    background-image: linear-gradient( #4731b1, #6234bf, #7a37ca);
    border: 1px solid #4731b1;
    transition: 1s;
    opacity: 0.8;

}

.btn-branco:hover{
    border-color: #4731b1 ;
    background-color: #fff;
    color: #4731b1;
}

.btn-colorido:hover{
    background: transparent;
    color: #4731b1;
}

.first-content{
    display: flex;
    z-index: 1;
}

.first-column{
    text-align: center;
    width: 40%;
    z-index: 1;
}

.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-icones-sociais{
    display: flex;
    list-style-type: none;
    margin-top: 1rem;
}

.icones-sociais{
    border: 1px solid #4731b1;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    color: #4731b1;
}

.link-social:not(:first-child){
    margin-left: 10px;
}
.link-social:hover .icones-sociais{
    background-color: #4731b1;
    color: #fff;
    transition: .5s;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}

.formulario input{
    height: 45px;
    border: none;
    padding-left: 5px;
    width: 100%;
}

.label-input{
    display: flex;
    border: 1px solid #4731b1;
    border-radius: 10px;
    align-items: center;
    margin: 8px;
    margin-top: 0;
}

.icon-modify{
    color:#4731b1;
    padding: 0 5px;
}

.second-content{
    position: absolute;
    display: flex;
}

.second-content .first-column{
    order: 2;
    z-index: -1;
}

.second-content .second-column{
    order: 1;
    z-index: -1;
}

.password{
    color:#4731b1;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}


/* Javascript*/
.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column{
    z-index: -1;
    display: none;
}

.sign-in-js .second-content .second-column{
    z-index: 1;
}

.sign-in-js .second-content .first-column{
    z-index: 3;
}

.sign-in-js .content::before{
    left: 60%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    animation: slidein 2s;

    z-index: 2;
}


.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column{
    z-index: -3;
}

.sign-up-js .first-content .second-column{
    z-index: -1;
}

.sign-up-js .first-content .first-column{
    z-index: 1;
}

.sign-up-js .content::before{
    animation: slideout 2s;
    z-index: 0;
}

/* Animação css */

@keyframes slidein{
    from{
        left: 0;
        width: 40%;
    }   
    to{
        left: 60%;
        width: 40%;
    }
}
@keyframes slideout{
    from{
        left: 60%;
        width: 40%;
    }
    to{
        left: 0;
        width: 40%;
    }
}